<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body { font-family: Arial, sans-serif; }
        .competition { margin-bottom: 30px; }
        .competition h2 { margin-bottom: 2px; }
        .event { font-weight: bold; }

        .milestone-container {
        display: flex;
        gap: 40px;
        align-items: flex-start;
        flex-wrap: wrap; /* kisebb képernyőn alá megy */
    }

    .milestone-section {
        flex: 1;
        min-width: 300px;
    }
    </style>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
