<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body { font-family: Arial, sans-serif; }
        .competition { margin-bottom: 30px; }
        .competition h2 { margin-bottom: 2px; }
        .event { font-weight: bold; }
    </style>
</head>
<body>
    {% if competitions %}
    <h3>Competitions:</h3>
        {% for comp in competitions %}
            <div class="competition">
                <h4>{{ convert_date(comp.From, comp.To) }} - {{ comp.CompetitionName }} ({{ comp.CountryIso }})</h4>
                <ul>
                    {% for competitor in comp.CompetitorWithRecords %}
                        <li><strong>{{ competitor.CompetitorName }}</strong>
                            <ul>
                                {% for event, records in competitor.Records.items() %}
                                    <li class="event">{{ event }}
                                        <ul>
                                            {% for record in records %}
                                                <li class="record">
                                                    Type: {{ record.Type }}<br>
                                                    Result: {{ convert_result(record.Result, event) }}<br>
                                                    Record Type: {{ record.Badge }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    {% else %}
        <h3>No competitions.</h3>
    {% endif %}
    {% if count_competitors %}
        <hr>
        <h3>Upcoming Competition Milestones:</h3>
        <ul>
            {% for competitor in count_competitors %}
                <li>{{ competitor.name }} - {{ competitor.competition_count }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
